{% extends "index.html" %}
{% load static %}

{% block content %}

<section class="page_banner" style="background-image: url(assets/images/bg/b2.jpg);">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="banner-title">Blog Left Sidebar</h2>
<p class="breadcrumbs">
<a href="index.html"><i class="twi-home"></i>Home</a><i class="twi-angle-right"></i>Blog Left Sidebar
</p>
</div>
</div>
</div>
</section>


<section class="blogPage">
<div class="container largeContainer">
<div class="row">
<div class="col-xl-3 col-lg-4">
<div class="sidebar lsb">
<aside class="widget">
<h3 class="widget_title">About Author</h3>
<div class="aboutme">
<img src="assets/images/blog/1.png" alt>
<h5>Jont hennry cook</h5>
<p>
Aenean id ullamcorper libero. Vestibulum imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna.
</p>
<div class="abmesocial">
<a href="javascript:void(0);"><i class="twi-facebook-f"></i></a>
<a href="javascript:void(0);"><i class="twi-twitter"></i></a>
<a href="javascript:void(0);"><i class="twi-google-plus-g"></i></a>
<a href="javascript:void(0);"><i class="twi-instagram"></i></a>
</div>
</div>
</aside>
<div class="widget">
<h3 class="widget_title">Categories</h3>
<ul>
<li><a href="blog2.html">Fruits (12)</a></li>
<li><a href="blog2.html">Plants (4)</a></li>
<li><a href="blog2.html">Cafe Design (8)</a></li>
<li><a href="blog2.html">Office Design (23)</a></li>
<li><a href="blog2.html">Living (3)</a></li>
</ul>
</div>
<aside class="widget widget_blog">
<h3 class="widget_title">Blog Posts</h3>
<div class="pp_post_item">
<img src="assets/images/blog/t1.jpg" alt>
<h5><a href="single-blog.html">Trip summer 2021</a></h5>
<span>August 6, 2021</span>
</div>
<div class="pp_post_item">
<img src="assets/images/blog/t2.jpg" alt>
<h5><a href="single-blog.html">Food trending</a></h5>
<span>August 6, 2021</span>
</div>
<div class="pp_post_item">
<img src="assets/images/blog/t3.jpg" alt>
<h5><a href="single-blog.html">Oceaus Mountain</a></h5>
<span>August 6, 2021</span>
</div>
</aside>
</div>
</div>
<div class="col-xl-9 col-lg-8">
<div class="row">
<div class="col-md-6">
<div class="blogItem01 mb70">
<div class="blogThumb">
<img src="assets/images/blog/8.jpg" alt>
<div class="blogDate">09 Jul</div>
</div>
<div class="blogContent">
<div class="bmeta">
<span><i class="twi-calendar-alt1"></i>By <a href="blog1.html">Admin</a></span>-<span><i class="twi-comment"></i><a href="single-blog.html">2 Comments</a></span>
</div>
<h3><a href="single-blog.html">Easy way to Build a Perfect Agency Website.</a></h3>
</div>
</div>
</div>
<div class="col-md-6">
<div class="blogItem01 mb70">
<div class="blogThumb">
<img src="assets/images/blog/9.jpg" alt>
<div class="blogDate">09 Jul</div>
</div>
<div class="blogContent">
<div class="bmeta">
<span><i class="twi-calendar-alt1"></i>By <a href="blog1.html">Admin</a></span>-<span><i class="twi-comment"></i><a href="single-blog.html">2 Comments</a></span>
</div>
<h3><a href="single-blog.html">Creating Efficiencies for Clients in Their CMS.</a></h3>
</div>
</div>
</div>
<div class="col-md-6">
<div class="blogItem01 mb70">
<div class="blogThumb">
<img src="assets/images/blog/10.jpg" alt>
<div class="blogDate">09 Jul</div>
</div>
<div class="blogContent">
<div class="bmeta">
<span><i class="twi-calendar-alt1"></i>By <a href="blog1.html">Admin</a></span>-<span><i class="twi-comment"></i><a href="single-blog.html">2 Comments</a></span>
</div>
<h3><a href="single-blog.html">How to Optimise and Webinar to Earn Leads.</a></h3>
</div>
</div>
</div>
<div class="col-md-6">
<div class="blogItem01 mb70">
<div class="blogThumb">
<img src="assets/images/blog/11.jpg" alt>
<div class="blogDate">09 Jul</div>
</div>
<div class="blogContent">
<div class="bmeta">
<span><i class="twi-calendar-alt1"></i>By <a href="blog1.html">Admin</a></span>-<span><i class="twi-comment"></i><a href="single-blog.html">2 Comments</a></span>
</div>
<h3><a href="single-blog.html">Strategy for Norway’s Peion Fund Global.</a></h3>
</div>
</div>
</div>
<div class="col-md-6">
<div class="blogItem01 mb70">
<div class="blogThumb">
<img src="assets/images/blog/12.jpg" alt>
<div class="blogDate">09 Jul</div>
</div>
<div class="blogContent">
<div class="bmeta">
<span><i class="twi-calendar-alt1"></i>By <a href="blog1.html">Admin</a></span>-<span><i class="twi-comment"></i><a href="single-blog.html">2 Comments</a></span>
</div>
<h3><a href="single-blog.html">Zechsal Magnesium flakes especially made.</a></h3>
</div>
</div>
</div>
<div class="col-md-6">
<div class="blogItem01 mb70">
<div class="blogThumb">
<img src="assets/images/blog/13.jpg" alt>
<div class="blogDate">09 Jul</div>
</div>
<div class="blogContent">
<div class="bmeta">
<span><i class="twi-calendar-alt1"></i>By <a href="blog1.html">Admin</a></span>-<span><i class="twi-comment"></i><a href="single-blog.html">2 Comments</a></span>
</div>
<h3><a href="single-blog.html">Best guide to shopping for organic products.</a></h3>
</div>
</div>
</div>
<div class="col-md-6">
<div class="blogItem01 mb70">
<div class="blogThumb">
<img src="assets/images/blog/8.jpg" alt>
<div class="blogDate">09 Jul</div>
</div>
<div class="blogContent">
<div class="bmeta">
<span><i class="twi-calendar-alt1"></i>By <a href="blog1.html">Admin</a></span>-<span><i class="twi-comment"></i><a href="single-blog.html">2 Comments</a></span>
</div>
<h3><a href="single-blog.html">Easy way to Build a Perfect Agency Website.</a></h3>
</div>
</div>
</div>
<div class="col-md-6">
<div class="blogItem01 mb70">
<div class="blogThumb">
<img src="assets/images/blog/9.jpg" alt>
<div class="blogDate">09 Jul</div>
</div>
<div class="blogContent">
<div class="bmeta">
<span><i class="twi-calendar-alt1"></i>By <a href="blog1.html">Admin</a></span>-<span><i class="twi-comment"></i><a href="single-blog.html">2 Comments</a></span>
</div>
<h3><a href="single-blog.html">Creating Efficiencies for Clients in Their CMS.</a></h3>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="organ_pagination text-center">
<a class="prev" href="blog1.html"><i class="twi-arrow-left"></i></a>
<span class="current">1</span>
<a href="blog2.html">2</a>
<a href="blog2.html">3</a>
<a href="blog2.html">4</a>
<a class="next" href="blog2.html"><i class="twi-arrow-right"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

{% endblock %}