{% extends "index.html" %}
{% load static %}

{% block content %}



<section class="page_banner" style="background-image: url(assets/images/bg/b2.jpg);">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="banner-title">Cart Page</h2>
<p class="breadcrumbs">
<a href="index.html"><i class="twi-home"></i>Home</a><i class="twi-angle-right"></i>Cart Page
</p>
</div>
</div>
</div>
</section>


<section class="cartPage">
<div class="container largeContainer">
<div class="row">
<div class="col-lg-12">
<div class="woocommerce">
<form action="#" method="post" class="woocommerce-cart-form">
<table class="shop_table">
<thead>
<tr>
<th class="product-remove">&nbsp;</th>
<th class="product-photo">Photo</th>
<th class="product-name">Product Name</th>
<th class="product-price">Price</th>
<th class="product-quantity">Quantity</th>
<th class="product-subtotal">Total</th>
</tr>
</thead>
<tbody>
<tr class="cart_item">
<td class="product-remove">
<a href="javascript:void(0);" class="remove"><i class="twi-times1"></i></a>
</td>
<td class="product-photo" data-title="Product">
<a class="p-img" href="single-product.html"><img src="assets/images/cart/1.jpg" alt></a>
</td>
<td class="product-name" data-title="Product">
<a href="single-product.html">Green Bow</a>
<span>natural</span>
</td>
<td class="product-price" data-title="Price">
<span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>69.00</bdi></span>
</td>
<td class="product-quantity" data-title="Quantity">
<div class="quantity quantityd clearfix">
<button type="button" class="minus qtyBtn btnMinus">-</button>
<input type="number" class="carqty input-text qty text" name="quantity" value="1">
<button type="button" class="plus qtyBtn btnPlus">+</button>
</div>
</td>
<td class="product-subtotal" data-title="Subtotal">
<span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>138.00</bdi></span>
</td>
</tr>
<tr class="cart_item">
<td class="product-remove">
<a href="javascript:void(0);" class="remove"><i class="twi-times1"></i></a>
</td>
<td class="product-photo" data-title="Product">
<a class="p-img" href="single-product.html"><img src="assets/images/cart/2.jpg" alt></a>
</td>
<td class="product-name" data-title="Product">
<a href="single-product.html">Organic Carrot</a>
<span>natural</span>
</td>
<td class="product-price" data-title="Price">
<span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>23.99</bdi></span>
</td>
<td class="product-quantity" data-title="Quantity">
<div class="quantity quantityd clearfix">
<button type="button" class="minus qtyBtn btnMinus">-</button>
<input type="number" class="carqty input-text qty text" name="quantity" value="1">
<button type="button" class="plus qtyBtn btnPlus">+</button>
</div>
</td>
<td class="product-subtotal" data-title="Subtotal">
<span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>23.99</bdi></span>
</td>
</tr>
<tr class="cart_item">
<td class="product-remove">
<a href="javascript:void(0);" class="remove"><i class="twi-times1"></i></a>
</td>
<td class="product-photo" data-title="Product">
<a class="p-img" href="single-product.html"><img src="assets/images/cart/3.jpg" alt></a>
</td>
<td class="product-name" data-title="Product">
<a href="single-product.html">Organic Carrot</a>
<span>natural</span>
</td>
<td class="product-price" data-title="Price">
<span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>36.00</bdi></span>
</td>
<td class="product-quantity" data-title="Quantity">
<div class="quantity quantityd clearfix">
<button type="button" class="minus qtyBtn btnMinus">-</button>
<input type="number" class="carqty input-text qty text" name="quantity" value="1">
<button type="button" class="plus qtyBtn btnPlus">+</button>
</div>
</td>
<td class="product-subtotal" data-title="Subtotal">
<span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>36.00</bdi></span>
</td>
</tr>
<tr>
<td colspan="6" class="actions">
<div class="coupon">
<label for="coupon_code">Coupon:</label>
<input type="text" name="coupon_code" class="input-text" id="coupon_code" value placeholder="Coupon code">
<button type="submit" class="button" name="apply_coupon" value="Apply coupon">Apply coupon</button>
</div>
<button type="submit" class="button update" name="update_cart" value="Update cart">Update cart</button>
</td>
</tr>
</tbody>
</table>
</form>
<div class="row">
<div class="col-lg-6 col-md-4"></div>
<div class="col-lg-6 col-md-8">
<div class="cart-collaterals">
<div class="cart_totals">
<h2>Cart Totals</h2>
<table class="shop_table shop_table_responsive">
<tbody>
<tr class="cart-subtotal">
<th>Subtotal</th>
<td data-title="Subtotal"><span class="amount">$197.99</span></td>
</tr>
<tr class="order-total">
<th>Total</th>
<td data-title="Total"><strong><span class="amount">$197.99</span></strong></td>
</tr>
</tbody>
</table>
<div class="wc-proceed-to-checkout">
<a class="checkout-button alt wc-forward" href="checkout.html">Proceed to Checkout</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

{% endblock %}