
{% extends "index.html" %}
{% load static %}

{% block content %}


<section class="page_banner" style="background-image: url(assets/images/bg/b2.jpg);">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="banner-title">Contact Us</h2>
<p class="breadcrumbs">
<a href="index.html"><i class="twi-home"></i>Home</a><i class="twi-angle-right"></i>Contact Us
</p>
</div>
</div>
</div>
</section>


<section class="mapSection">
<div class="googleMap">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d837.1682202687648!2d90.37416162759105!3d23.756162001006555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bff7abdea3e3%3A0x7b0e9f046b651f49!2sBanee's%20Academy!5e0!3m2!1sen!2sbd!4v1665464458907!5m2!1sen!2sbd"></iframe>
</div>
</section>


<section class="contactInfoSec contactInfoSec2">
<div class="container largeContainer">
<div class="row">
<div class="col-lg-5">
<h2 class="secTitle">Get In Touch</h2>
<p>Get in touch to discuss your employee wellbeing needs today. Please give us a call, drop us an email or fill out the contact form and we’ll get back to you.</p>
<div class="contactbox">
<i class="twi-envelope"></i>
<h5><a href="https://themewar.com/cdn-cgi/l/email-protection#432b262f2f2c032c3124222d2a206d202c2e"><span class="__cf_email__" data-cfemail="5f373a3333301f302d383e31363c713c3032">[email&#160;protected]</span></a></h5>
</div>
<div class="contactbox">
<i class="twi-phone"></i>
<h5><a href="tel:8800567.890.11">8 800 567.890.11 <span>- Central Office</span></a></h5>
</div>
<div class="contactbox last">
<i class="twi-map-marker-alt"></i>
<h5><a href="https://www.google.com/maps">75 South Park Avenue, Melbourne, Australia</a></h5>
</div>
<div class="conSocial">
<a href="javascript:void(0);"><i class="twi-facebook-f"></i></a>
<a href="javascript:void(0);"><i class="twi-instagram"></i></a>
<a href="javascript:void(0);"><i class="twi-linkedin-in"></i></a>
</div>
</div>
<div class="col-lg-7">
<div class="contact_form_2">
<h2 class="secTitle">Drop Us a Line</h2>
<form action="#" method="post" class="row" id="contact_form">
<div class="col-lg-6">
<input class="required" type="text" name="con_name" placeholder="Full Name *">
</div>
<div class="col-lg-6">
<input class="required" type="email" name="con_email" placeholder="Email Address *">
</div>
<div class="col-md-12">
<input type="text" name="con_subject" placeholder="Subject">
<textarea class="required" name="con_message" placeholder="Your Message here"></textarea>
<button type="submit" class="organ_btn">Get In Touch<i class="twi-arrow-right1"></i></button>
<div class="con_message"></div>
</div>
</form>
</div>
</div>
</div>
</div>
</section>

{% endblock %}