{% extends "index.html" %}
{% load static %}

{% block content %}



<section class="contactInfoSec">
<div class="container largeContainer">
<div class="row">
<div class="col-lg-7 mb85">
<div class="abThumb move_anim">
<img class="abbg" src="assets/images/bg/c2.png" alt>
<img src="assets/images/bg/c1.png" alt>
</div>
</div>
<div class="col-lg-5">
<p>
    Bugungi kunda xodimlaringizning farovonlik ehtiyojlarini muhokama qilish uchun bog'laning. Iltimos, bizga qo'ng'iroq qiling, bizga elektron pochta xabarini yuboring yoki aloqa formasini to'ldiring va biz sizga javob beramiz.</p>
<div class="contactbox">
<i class="twi-envelope"></i>
<h5><a href="https://themewar.com/cdn-cgi/l/email-protection#157d7079797a557a6772747b7c763b767a78"><span class="__cf_email__" data-cfemail="9ef6fbf2f2f1def1ecf9fff0f7fdb0fdf1f3">[email&#160;protected]</span></a></h5>
</div>
<div class="contactbox">
<i class="twi-phone"></i>
<h5><a href="tel:8800567.890.11">8 800 567.890.11 <span>- Central Office</span></a></h5>
</div>
<div class="contactbox last">
<i class="twi-map-marker-alt"></i>
<h5><a href="https://www.google.com/maps">75 South Park Avenue, Melbourne, Australia</a></h5>
</div>
<div class="conSocial">
<a href="javascript:void(0);"><i class="twi-facebook-f"></i></a>
<a href="javascript:void(0);"><i class="twi-instagram"></i></a>
<a href="javascript:void(0);"><i class="twi-linkedin-in"></i></a>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12 text-center">
<div class="contact_form">
<h2>Drop Us A Line</h2>
<form action="#" id="contact_form" class="contact_form text-center" method="post"> {% csrf_token %}
<div class="col-md-5">
<input class="required" type="text" name="con_name" placeholder="Full Name *">
<input class="required" type="email" name="con_email" placeholder="Email Address *">
<input type="text" name="con_subject" placeholder="Subject">
</div>
<div class="col-md-7">
<textarea class="required" name="con_message" placeholder="Your Message here"></textarea>
</div>
<div class="col-md-12">
<button type="submit" class="organ_btn">Get In Touch</button>
<div class="con_message"></div>
</div>
</form>
</div>
</div>
</div>
</div>
</section>



{% endblock %}