{% extends "index.html" %}
{% load static %}

{% block content %}



<section class="page_banner shop_banner" style="background-image: url(assets/images/bg/b3.jpg);">
<div class="container largeContainer">
<div class="row">
<div class="col-lg-12 text-left">
<p class="breadcrumbs">
<a href="index.html"><i class="twi-home"></i>Home</a><i class="twi-angle-right"></i><a href="shop.html">Shop</a><i class="twi-angle-right"></i>Fresh Orange
</p>
</div>
</div>
</div>
</section>


<section class="singleProduct">
<div class="container largeContainer">
<div class="row">
<div class="col-lg-6">
<div class="productSlide">
<div class="sp_img">
<img src="assets/images/single-product/1.png" alt>
</div>
<div class="sp_img">
<img src="assets/images/single-product/2.png" alt>
</div>
<div class="sp_img">
<img src="assets/images/single-product/3.png" alt>
</div>
<div class="sp_img">
<img src="assets/images/single-product/4.png" alt>
</div>
</div>
<ul class="indicator-slider">
<li role="presentation">
<div class="idItem">
<img src="assets/images/single-product/s1.png" alt>
</div>
</li>
<li role="presentation">
<div class="idItem">
<img src="assets/images/single-product/s2.png" alt>
</div>
</li>
<li role="presentation">
<div class="idItem">
<img src="assets/images/single-product/s3.png" alt>
</div>
</li>
<li role="presentation">
<div class="idItem">
<img src="assets/images/single-product/s4.png" alt>
</div>
</li>
</ul>
</div>
<div class="col-lg-6">
<div class="product_details">
<div class="stock">Availability:<span>In stock</span></div>
<h3>Fresh Orange</h3>
<div class="woocommerce-product-rating">
<div class="ratings">
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
</div>
<a href="#reviews" class="woocommerce-review-link" rel="nofollow">(2 reviews)</a>
</div>
<div class="pi01Price clearfix">
<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>12.00</bdi></span> – <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>65.00</bdi></span></span>
</div>
<div class="pd_excrpt">
<p>
Sumptuous, filling, and temptingly healthy, our Biona Organic Granola with Wild Berries is just the thing to get you out of bed. The goodness of rolled wholegrain oats are combined
</p>
</div>
<div class="qty_weight">
<div class="cart_quantity clearfix">
<label>Quantity:</label>
<div class="quantity quantityd clearfix">
<button type="button" class="minus qtyBtn btnMinus">-</button>
<input type="number" class="carqty input-text qty text" name="quantity" value="1">
<button type="button" class="plus qtyBtn btnPlus">+</button>
</div>
</div>
<div class="weight_quantity clearfix">
<label>Weight</label>
<select>
<option value="1">0.5KG</option>
<option value="2">0.50KG</option>
<option value="1">1KG</option>
<option value="1">2KG</option>
</select>
</div>
</div>
<div class="colorCart">
<div class="colorMeta">
<label>Color</label>
<div class="color-btn color-1">
<input checked="checked" type="radio" id="color-1" name="color" value="color-1">
<label for="color-1"></label>
</div>
<div class="color-btn color-2">
<input type="radio" id="color-2" name="color" value="color-2">
<label for="color-2"></label>
</div>
<div class="color-btn color-3">
<input type="radio" id="color-3" name="color" value="color-3">
<label for="color-3"></label>
</div>
</div>
<button type="submit" class="organ_btn"><i class="icon-Add-to-cart-icon"></i>Shop Now</button>
</div>
<div class="pro_meta clearfix">
<div class="mtItem">
<h5>Tags:</h5>
<a href="shop.html">T-Shirt</a>, <a href="shop.html"> Clothes</a>, <a href="shop.html"> Fashion</a>, <a href="shop.html"> Shop</a>
</div>
<div class="mtItem mtsocial">
<h5>Share:</h5>
<a target="_blank" href="https://www.facebook.com/"><i class="twi-facebook-f"></i></a>
<a target="_blank" href="https://twitter.com/"><i class="twi-twitter"></i></a>
<a target="_blank" href="https://bebo.com/"><i class="twi-pinterest-p"></i></a>
<a target="_blank" href="https://dribbble.com/"><i class="twi-dribbble"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="product_tabarea">
<ul class="nav nav-tabs productTabs" id="productTabs" role="tablist">
<li class="nav-item" role="presentation">
<a class="active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
</li>
<li class="nav-item" role="presentation">
<a id="additionalinfo-tab" data-toggle="tab" href="#additionalinfo" role="tab" aria-controls="additionalinfo" aria-selected="false">Additional Information</a>
</li>
<li class="nav-item" role="presentation">
<a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
</li>
</ul>
<div class="tab-content">
<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
<div class="pdtci_content">
<p>
La Fabbrica Della Pasta Gluten Free Candele ca Pont is a large pasta similar to penne pasta. It is smooth and the ends are cut at an angle. Now you can enjoy authentic artisan Italian pasta on a gluten-free diet. Rigatoni pasta is one of the most popular types of pasta. However, La Fabbrica Della Pasta is not like every other pasta brand! La Fabbrica uses traditional Italian techniques along with natural spring water from Mount Vesuvius to make an exceptional-tasting, authentic rigatoni pasta. Now, La Fabbrica Rigatoni pasta is available in gluten-free!
</p>
<div class="row">
<div class="col-lg-4 col-md-6">
<ul class="listItem withbg text-right">
<li><span><i class="twi-check-circle1"></i>100% Natural</span></li>
<li><span><i class="twi-check-circle1"></i>Increases resistance</span></li>
<li><span><i class="twi-check-circle1"></i>No growth hormones are used</span></li>
</ul>
</div>
<div class="col-lg-3 cstabImg">
<div class="desImage">
<img src="assets/images/single-product/5.png" alt>
</div>
</div>
<div class="col-lg-5 col-md-6">
<ul class="listItem withbg">
<li><span><i class="twi-check-circle1"></i>100% Natural</span></li>
<li><span><i class="twi-check-circle1"></i>Increases resistance</span></li>
<li><span><i class="twi-check-circle1"></i>No growth hormones are used</span></li>
</ul>
</div>
</div>
</div>
</div>
<div class="tab-pane fade" id="additionalinfo" role="tabpanel" aria-labelledby="additionalinfo-tab">
<div class="adinfo">
<table>
<tbody>
<tr>
<th>Weight:</th>
<td>0.5 Kg, 1 Kg, 2 Kg, 5 Kg</td>
</tr>
<tr>
<th>Dim:</th>
<td>15 x 15 x 10 cm</td>
</tr>
<tr>
<th>Color:</th>
<td>Black, Green, Mixed, Red, White</td>
</tr>
<tr>
<th>Size:</th>
<td>Extra Large, Extra Small, Medium, Small</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
<div class="pdtci_content">
<div class="comment_area">
<div class="sic_comments">
<h3 class="sicc_title">03 Reviews</h3>
<ol class="sicc_list">
<li>
<article class="single_comment productComent clearfix ">
<img src="assets/images/blog/c1.jpg" alt="Amy Burton">
<h4 class="cm_subject">Good Tours</h4>
<div class="sc_content">
<p>Ed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<span class="cm_date">June 6, 2021 <span>- BY</span> Milon Non</span>
<div class="ratings">
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
</div>
</article>
</li>
<li>
<article class="single_comment productComent clearfix ">
<img src="assets/images/blog/c1.jpg" alt="Amy Burton">
<h4 class="cm_subject">So Good</h4>
<div class="sc_content">
<p>Ed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<span class="cm_date">June 6, 2021 <span>- BY</span> Milon Non</span>
<div class="ratings">
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
</div>
</article>
</li>
</ol>
</div>
<div class="commentForm productCommentForm">
<h3 class="sicc_title">Add a Review</h3>
<form action="#" method="post" class="row">
<div class="col-md-6 name">
<input placeholder="Your Name *" name="author" type="text">
</div>
<div class="col-md-6 email">
<input placeholder="Email Address *" name="email" type="email">
</div>
<div class="col-md-12">
<input placeholder="Subject" name="subject" type="text">
</div>
<div class="col-md-12">
<textarea name="comment" placeholder="Your Comment"></textarea>
</div>
<div class="col-md-12">
<button class="organ_btn" type="submit">Submit Review</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="related_area">
<div class="subTitle sbsm">Nature Only</div>
<h2 class="secTitle">Related Product</h2>
<div class="related_carousel owl-carousel">
<div class="productItem01">
<div class="proThumb">
<img src="assets/images/product/5.png" alt>
</div>
<a class="hover" href="single-product.html"><img src="assets/images/product/5.jpg" alt></a>
<div class="product_content">
<div class="ratings">
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star1"></i>
<span>(01)</span>
</div>
<div class="pitem">Meats</div>
<h3><a href="single-product.html">Vegan Egg Replacer</a></h3>
<div class="pi01Price">
<span class="price"><del>$200.00</del><ins>$280.00</ins></span>
</div>
</div>
<div class="piActionBtns">
<a class="quickview" href="single-product.html"><i class="icon-magnifying-glass"></i></a>
<a class="cart" href="cart.html"><i class="icon-shopping-cart"></i></a>
<a class="compare" href="single-product.html"><i class="icon-move"></i></a>
</div>
<div class="prLabels">
<p class="justin">Fresh</p>
</div>
<a class="wishlist" href="wishlist.html"><i class="twi-heart1"></i></a>
</div>
<div class="productItem01">
<div class="proThumb">
<img src="assets/images/product/4.png" alt>
</div>
<a class="hover" href="single-product.html"><img src="assets/images/product/4.jpg" alt></a>
<div class="product_content">
<div class="ratings">
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star1"></i>
<span>(01)</span>
</div>
<div class="pitem">Meats</div>
<h3><a href="single-product.html">Vegan Egg Replacer</a></h3>
<div class="pi01Price">
<span class="price"><del>$200.00</del><ins>$280.00</ins></span>
</div>
</div>
<div class="piActionBtns">
<a class="quickview" href="single-product.html"><i class="icon-magnifying-glass"></i></a>
<a class="cart" href="cart.html"><i class="icon-shopping-cart"></i></a>
<a class="compare" href="single-product.html"><i class="icon-move"></i></a>
</div>
<div class="prLabels">
<p class="justin">Fresh</p>
</div>
<a class="wishlist" href="wishlist.html"><i class="twi-heart1"></i></a>
</div>
<div class="productItem01">
<div class="proThumb">
<img src="assets/images/product/2.png" alt>
</div>
<a class="hover" href="single-product.html"><img src="assets/images/product/2.jpg" alt></a>
<div class="product_content">
<div class="ratings">
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star1"></i>
<span>(01)</span>
</div>
<div class="pitem">Meats</div>
<h3><a href="single-product.html">Vegan Egg Replacer</a></h3>
<div class="pi01Price">
<span class="price"><del>$200.00</del><ins>$280.00</ins></span>
</div>
</div>
<div class="piActionBtns">
<a class="quickview" href="single-product.html"><i class="icon-magnifying-glass"></i></a>
<a class="cart" href="cart.html"><i class="icon-shopping-cart"></i></a>
<a class="compare" href="single-product.html"><i class="icon-move"></i></a>
</div>
<div class="prLabels">
<p class="justin">Fresh</p>
</div>
<a class="wishlist" href="wishlist.html"><i class="twi-heart1"></i></a>
</div>
<div class="productItem01">
<div class="proThumb">
<img src="assets/images/product/3.png" alt>
</div>
<a class="hover" href="single-product.html"><img src="assets/images/product/3.jpg" alt></a>
<div class="product_content">
<div class="ratings">
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star1"></i>
<span>(01)</span>
</div>
<div class="pitem">Meats</div>
<h3><a href="single-product.html">Vegan Egg Replacer</a></h3>
<div class="pi01Price">
<span class="price"><del>$200.00</del><ins>$280.00</ins></span>
</div>
</div>
<div class="piActionBtns">
<a class="quickview" href="single-product.html"><i class="icon-magnifying-glass"></i></a>
<a class="cart" href="cart.html"><i class="icon-shopping-cart"></i></a>
<a class="compare" href="single-product.html"><i class="icon-move"></i></a>
</div>
<div class="prLabels">
<p class="justin">Fresh</p>
</div>
<a class="wishlist" href="wishlist.html"><i class="twi-heart1"></i></a>
</div>
<div class="productItem01">
<div class="proThumb">
<img src="assets/images/product/7.png" alt>
</div>
<a class="hover" href="single-product.html"><img src="assets/images/product/7.jpg" alt></a>
<div class="product_content">
<div class="ratings">
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star"></i>
<i class="twi-star1"></i>
<span>(01)</span>
</div>
<div class="pitem">Meats</div>
<h3><a href="single-product.html">Vegan Egg Replacer</a></h3>
<div class="pi01Price">
<span class="price"><del>$200.00</del><ins>$280.00</ins></span>
</div>
</div>
<div class="piActionBtns">
<a class="quickview" href="single-product.html"><i class="icon-magnifying-glass"></i></a>
<a class="cart" href="cart.html"><i class="icon-shopping-cart"></i></a>
<a class="compare" href="single-product.html"><i class="icon-move"></i></a>
</div>
<div class="prLabels">
<p class="justin">Fresh</p>
</div>
<a class="wishlist" href="wishlist.html"><i class="twi-heart1"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

{% endblock %}