{% extends "index.html" %}
{% load static %}

{% block content %}


<section class="sidebarMenu">
<div class="sidebarMenuOverlay"></div>
<div class="SMArea">
<div class="SMAHeader">
<h3>
<i class="twi-bars1"></i> Menu
</h3>
<a href="javascript:void(0);" class="SMACloser"><i class="twi-times2"></i></a>
</div>
<div class="SMABody">
<ul>
<li class="menu-item-has-children">
<a href="javascript:void(0);">Home</a>
<ul class="sub-menu">
<li><a href="index.html">Home One</a></li>
<li><a href="index2.html">Home Two</a></li>
<li><a href="index3.html">Home Three</a></li>
<li><a href="index4.html">Home Four</a></li>
<li><a href="index5.html">Home Five</a></li>
</ul>
</li>
<li class="menu-item-has-children">
<a href="javascript:void(0);">Shop</a>
<ul class="sub-menu">
<li><a href="shop.html">Shop Grid 01</a></li>
<li><a href="shop1.html">Shop Grid 02</a></li>
<li><a href="shop3.html">Shop Grid 03</a></li>
<li><a href="shop2.html">Shop List</a></li>
<li class="menu-item-has-children">
<a href="javascript:void(0);">Shop Details</a>
<ul class="sub-menu">
<li><a href="single-product.html">Shop Details 01</a></li>
<li><a href="single-product1.html">Shop Details 02</a></li>
<li><a href="single-product2.html">Shop Details 03</a></li>
</ul>
</li>
<li><a href="cart.html">Cart Page</a></li>
</ul>
</li>
<li class="menu-item-has-children">
<a href="javascript:void(0);">blogs</a>
<ul class="sub-menu">
<li class="menu-item-has-children">
<a href="javascript:void(0);">Blog List Views</a>
<ul class="sub-menu">
<li><a href="blog1.1.html">Left Sidebar</a></li>
<li><a href="blog1.html">Right Sidebar</a></li>
<li><a href="blog1.2.html">Without Sidebar</a></li>
</ul>
</li>
<li class="menu-item-has-children">
<a href="javascript:void(0);">Blog Grid Views</a>
<ul class="sub-menu">
<li><a href="blog2.1.html">Left Sidebar</a></li>
<li><a href="blog2.2.html">Right Sidebar</a></li>
<li><a href="blog2.html">Without Sidebar</a></li>
</ul>
</li>
<li><a href="single-blog.html">Blog Details</a></li>
</ul>
</li>
<li class="menu-item-has-children">
<a href="javascript:void(0);">pages</a>
<ul class="sub-menu">
<li><a href="about.html">About Page</a></li>
<li class="menu-item-has-children">
<a href="javascript:void(0);">Teams</a>
<ul class="sub-menu">
<li><a href="team1.html">Team 01</a></li>
<li><a href="team2.html">Team 02</a></li>
</ul>
</li>
<li class="menu-item-has-children">
<a href="javascript:void(0);">Services</a>
<ul class="sub-menu">
<li><a href="service.html">Service Page</a></li>
<li><a href="service-single.html">Service Details</a></li>
</ul>
</li>
<li><a href="404.html">404 Page</a></li>
</ul>
</li>
<li class="menu-item-has-children">
<a href="javascript:void(0);">Contact</a>
<ul class="sub-menu">
<li><a href="contact.html">Contact Without Map</a></li>
<li><a href="contact2.html">Contact With Map</a></li>
</ul>
</li>
</ul>
</div>
</div>
</section>


<section class="page_banner" style="background-image: url(assets/images/bg/b2.jpg);">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="banner-title">We Are Brilliant Farmers</h2>
<p class="breadcrumbs">
<a href="index.html"><i class="twi-home"></i>Home</a><i class="twi-angle-right"></i>We Are Brilliant Farmers
</p>
</div>
</div>
</div>
</section>


<section class="teamPage">
<div class="container largeContainer">
<div class="row">
<div class="col-lg-3 col-md-6">
<div class="teamItem02">
<div class="tmThumb02">
<img src="assets/images/team/1.jpg" alt>
<div class="tm_socail02">
<a href="javascript:void(0);"><i class="twi-instagram"></i></a>
<a href="javascript:void(0);"><i class="twi-facebook-f"></i></a>
<a href="javascript:void(0);"><i class="twi-linkedin-in"></i></a>
</div>
</div>
<div class="tmContent">
<h5><a href="javascript:void(0);">Kevin Sullivan</a></h5>
<p>Farmar</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="teamItem02">
<div class="tmThumb02">
<img src="assets/images/team/2.jpg" alt>
<div class="tm_socail02">
<a href="javascript:void(0);"><i class="twi-instagram"></i></a>
<a href="javascript:void(0);"><i class="twi-facebook-f"></i></a>
<a href="javascript:void(0);"><i class="twi-linkedin-in"></i></a>
</div>
</div>
<div class="tmContent">
<h5><a href="javascript:void(0);">Nora Bell</a></h5>
<p>Sales Executive</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="teamItem02">
<div class="tmThumb02">
<img src="assets/images/team/3.jpg" alt>
<div class="tm_socail02">
<a href="javascript:void(0);"><i class="twi-instagram"></i></a>
<a href="javascript:void(0);"><i class="twi-facebook-f"></i></a>
<a href="javascript:void(0);"><i class="twi-linkedin-in"></i></a>
</div>
</div>
<div class="tmContent">
<h5><a href="javascript:void(0);">Berniy Smith</a></h5>
<p>Shop Keeper</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="teamItem02">
<div class="tmThumb02">
<img src="assets/images/team/4.jpg" alt>
<div class="tm_socail02">
<a href="javascript:void(0);"><i class="twi-instagram"></i></a>
<a href="javascript:void(0);"><i class="twi-facebook-f"></i></a>
<a href="javascript:void(0);"><i class="twi-linkedin-in"></i></a>
</div>
</div>
<div class="tmContent">
<h5><a href="javascript:void(0);">Eiliyah Gould</a></h5>
<p>Worker</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="teamItem02">
<div class="tmThumb02">
<img src="assets/images/team/5.jpg" alt>
<div class="tm_socail02">
<a href="javascript:void(0);"><i class="twi-instagram"></i></a>
<a href="javascript:void(0);"><i class="twi-facebook-f"></i></a>
<a href="javascript:void(0);"><i class="twi-linkedin-in"></i></a>
</div>
</div>
<div class="tmContent">
<h5><a href="javascript:void(0);">Anna Harrison</a></h5>
<p>Co-Founder</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="teamItem02">
<div class="tmThumb02">
<img src="assets/images/team/6.jpg" alt>
<div class="tm_socail02">
<a href="javascript:void(0);"><i class="twi-instagram"></i></a>
<a href="javascript:void(0);"><i class="twi-facebook-f"></i></a>
<a href="javascript:void(0);"><i class="twi-linkedin-in"></i></a>
</div>
</div>
<div class="tmContent">
<h5><a href="javascript:void(0);">Sherri Horton</a></h5>
<p>Farmer</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="teamItem02">
<div class="tmThumb02">
<img src="assets/images/team/7.jpg" alt>
<div class="tm_socail02">
<a href="javascript:void(0);"><i class="twi-instagram"></i></a>
<a href="javascript:void(0);"><i class="twi-facebook-f"></i></a>
<a href="javascript:void(0);"><i class="twi-linkedin-in"></i></a>
</div>
</div>
<div class="tmContent">
<h5><a href="javascript:void(0);">Sinira Fro</a></h5>
<p>Managing Director</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="teamItem02">
<div class="tmThumb02">
<img src="assets/images/team/8.jpg" alt>
<div class="tm_socail02">
<a href="javascript:void(0);"><i class="twi-instagram"></i></a>
<a href="javascript:void(0);"><i class="twi-facebook-f"></i></a>
<a href="javascript:void(0);"><i class="twi-linkedin-in"></i></a>
</div>
</div>
<div class="tmContent">
<h5><a href="javascript:void(0);">Aliesha Preston</a></h5>
<p>Founder</p>
</div>
</div>
</div>
</div>
</div>
</section>

{% endblock %}